#emacs specific
*~
\#*\#

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app